# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# ----------------------
# VS Code
# ----------------------
.vscode/

# ----------------------
# Environment variables
# ----------------------
.env
.env.*

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Database / local files
# ----------------------
*.sqlite3

# ----------------------
# Build / packaging
# ----------------------
build/
dist/
*.egg-info/

# ----------------------
# Python testing / coverage
# ----------------------
.pytest_cache/
.coverage
htmlcov/

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/